In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [3]:
file1 = 'Resources/education-income.csv'

In [4]:
file2 ='Resources/employment.csv'

In [5]:
df1 = pd.read_csv(file1)

In [6]:
df1.head()

,Neighborhood,Sector #,Population (2010),"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),2009 Median Income ('09 Dollars),1999 Median Income ('11 Dollars),2009 Med. Income ('13 Dollars),Est. Pop. for which Poverty Calc. (2010),Est. Pop. Under Poverty (2010),Est. Percent Under Poverty (2010)
0,Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964","$20,911","$22,535","$22,793",954,324,34.0%
1,Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638","$41,761","$35,386","$45,519",239,12,5.0%
2,Allentown,6,"2,500","1,729",23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539","$29,274","$29,941","$31,909","2,212",630,28.5%
3,Arlington,7,"1,869","1,232",14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167","$25,119","$36,089","$27,380","1,779",361,20.3%
4,Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646","$9,417","$24,769","$10,265",293,169,57.7%

In [7]:
df2 = pd.read_csv(file2)

In [8]:
df2.head()

,Neighborhood,Sector #,Population (2010),Total Age 16+ N'hood Residents Employed (2010 Est.),Resident Jobs: Construction,Resident Jobs: Manufacturing,Resident Jobs: Retail Trade,"Resident Jobs: Transportation, warehousing, utilities",Resident Jobs: Information,"Resident Jobs: Finance, insurance, real estate",...,Jobs in 'Hood: Manufacturing,Jobs in 'Hood: Retail trade,"Jobs in 'Hood: Transport, warehousing, utilities",Jobs in 'Hood: Information,"Jobs in 'Hood: Finance, insurance, real estate","Jobs in 'Hood: Prof, scientific, admin, and waste mgmt","Jobs in 'Hood: Educ, health, and social svc","Jobs in 'Hood: Arts, ent, recreation, accommodation and food services",Jobs in 'Hood: Public admin,Jobs in 'Hood: Other
0,Allegheny Center,3,933,386,3.1%,1.8%,11.9%,0.0%,0.0%,10.4%,...,9.4%,1.8%,7.7%,8.5%,21.3%,9.3%,25.8%,6.7%,2.0%,4.4%
1,Allegheny West,3,462,151,0.0%,6.6%,0.0%,14.6%,0.0%,0.0%,...,12.4%,3.1%,0.3%,0.8%,6.6%,3.9%,48.7%,4.6%,1.9%,16.6%
2,Allentown,6,"2,500",858,4.2%,7.8%,11.9%,5.6%,2.3%,8.4%,...,0.0%,31.0%,8.5%,0.0%,4.2%,8.5%,14.1%,8.5%,2.8%,15.5%
3,Arlington,7,"1,869",685,7.2%,13.0%,12.3%,1.8%,5.0%,0.9%,...,6.5%,0.0%,0.0%,6.5%,0.0%,0.0%,64.5%,0.0%,0.0%,6.5%
4,Arlington Heights,7,244,72,0.0%,0.0%,13.9%,0.0%,0.0%,29.2%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,100.0%,0.0%,0.0%,0.0%

In [9]:
merged_df = pd.merge(df1, df2, on='Neighborhood', how='outer')

In [10]:
merged_df.head()

,Neighborhood,Sector #_x,Population (2010)_x,"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),...,Jobs in 'Hood: Manufacturing,Jobs in 'Hood: Retail trade,"Jobs in 'Hood: Transport, warehousing, utilities",Jobs in 'Hood: Information,"Jobs in 'Hood: Finance, insurance, real estate","Jobs in 'Hood: Prof, scientific, admin, and waste mgmt","Jobs in 'Hood: Educ, health, and social svc","Jobs in 'Hood: Arts, ent, recreation, accommodation and food services",Jobs in 'Hood: Public admin,Jobs in 'Hood: Other
0,Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964",...,9.4%,1.8%,7.7%,8.5%,21.3%,9.3%,25.8%,6.7%,2.0%,4.4%
1,Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638",...,12.4%,3.1%,0.3%,0.8%,6.6%,3.9%,48.7%,4.6%,1.9%,16.6%
2,Allentown,6,"2,500","1,729",23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539",...,0.0%,31.0%,8.5%,0.0%,4.2%,8.5%,14.1%,8.5%,2.8%,15.5%
3,Arlington,7,"1,869","1,232",14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167",...,6.5%,0.0%,0.0%,6.5%,0.0%,0.0%,64.5%,0.0%,0.0%,6.5%
4,Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646",...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,100.0%,0.0%,0.0%,0.0%

In [11]:
merged_df = merged_df.drop(columns=['Sector #_y', 'Population (2010)_y'])

In [12]:
merged_df = merged_df.rename(columns = {"Sector #_x": "Sector_number","Population (2010)_x":"Population (2010)" })

In [20]:
merged_df.columns

Index(['Neighborhood', 'Sector_number', 'Population (2010)',
       'Total Pop, 25 and older (2010)',
       'Edu. Attainment: Less than High School (2010)',
       'Edu. Attainment: High School Graduate (2010)',
       'Edu. Attainment: Assoc./Prof. Degree (2010)',
       'Edu. Attainment: Bachelor's Degree (2010)',
       'Edu. Attainment: Postgraduate Degree (2010)',
       '1999 Median Income ('99 Dollars)', '2009 Median Income ('09 Dollars)',
       '1999 Median Income ('11 Dollars)', '2009 Med. Income ('13 Dollars)',
       'Est. Pop. for which Poverty Calc. (2010)',
       'Est. Pop. Under Poverty (2010)', 'Est. Percent Under Poverty (2010)',
       'Total Age 16+ N'hood Residents Employed (2010 Est.)',
       'Resident Jobs: Construction', 'Resident Jobs: Manufacturing',
       'Resident Jobs: Retail Trade',
       'Resident Jobs: Transportation, warehousing, utilities',
       'Resident Jobs: Information',
       'Resident Jobs: Finance, insurance, real estate',
       'Resident Jobs: Prof, scientific, admin, and waste mgmt',
       'Resident Jobs: Educ, health and social svc',
       'Resident Jobs: Arts, ent, recreation, accommodation and food services',
       'Resident Jobs: Public admin', 'Resident Jobs: Other',
       'Total # Jobs Located in N'hood (2000 - latest yr. avail.)',
       'Jobs in 'Hood: Construction', 'Jobs in 'Hood: Manufacturing',
       'Jobs in 'Hood: Retail trade',
       'Jobs in 'Hood: Transport, warehousing, utilities',
       'Jobs in 'Hood: Information',
       'Jobs in 'Hood: Finance, insurance, real estate',
       'Jobs in 'Hood: Prof, scientific, admin, and waste mgmt',
       'Jobs in 'Hood: Educ, health, and social svc',
       'Jobs in 'Hood: Arts, ent, recreation, accommodation and food services',
       'Jobs in 'Hood: Public admin', 'Jobs in 'Hood: Other'],
      dtype='object')

In [14]:
Base = declarative_base()
class test(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'test_table'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    Neighborhood = Column(String(255))
    sector_number = Column("Sector #", String(255))
    pop_2010 = Column("Population (2010)", String(255))
    total_pop_25andup = Column("Total Pop, 25 and older (2010)", String(255)) 
    less_than_highsch = Column("Edu. Attainment: Less than High School (2010)", String(255))
    highsch_grd = Column("Edu. Attainment: High School Graduate (2010)", String(255))
    assoc_prf_deg = Column("Edu. Attainment: Assoc./Prof. Degree (2010)", String(255))
    bac_deg = Column("Edu. Attainment: Bachelor's Degree (2010)", String(255))
    postgrd_deg = Column("Edu. Attainment: Postgraduate Degree (2010)", String(255))
    median_income_1999 = Column("1999 Median Income ('99 Dollars)", String(255))
    median_income_2009 = Column("2009 Median Income ('09 Dollars)", String(255))
    median_income_2011_dlrs = Column("1999 Median Income ('11 Dollars)", String(255))
    median_income_2013_dlrs = Column("2009 Med. Income ('13 Dollars)", String(255))
    est_pop_poverty_cal = Column("Est. Pop. for which Poverty Calc. (2010)", String(255))
    est_pop_under_poverty = Column("Est. Pop. Under Poverty (2010)", String(255))
    est_pop_pct_under_poverty = Column("Est. Percent Under Poverty (2010)", String(255))

In [15]:
#Create the database
engine = create_engine('sqlite:///csv_test.sqlite')
conn = engine.connect()
Base.metadata.create_all(conn)

In [16]:
df1.to_sql(test.__tablename__, conn, index=False, if_exists='append')

In [19]:
pd.read_sql_query('SELECT * FROM test_table', con=engine).head()

,id,Neighborhood,Sector #,Population (2010),"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),2009 Median Income ('09 Dollars),1999 Median Income ('11 Dollars),2009 Med. Income ('13 Dollars),Est. Pop. for which Poverty Calc. (2010),Est. Pop. Under Poverty (2010),Est. Percent Under Poverty (2010)
0,1,Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964","$20,911","$22,535","$22,793",954,324,34.0%
1,2,Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638","$41,761","$35,386","$45,519",239,12,5.0%
2,3,Allentown,6,"2,500","1,729",23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539","$29,274","$29,941","$31,909","2,212",630,28.5%
3,4,Arlington,7,"1,869","1,232",14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167","$25,119","$36,089","$27,380","1,779",361,20.3%
4,5,Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646","$9,417","$24,769","$10,265",293,169,57.7%

In [ ]:
engine.table_names()